.main-window {
  width: 600px;
  /* width: 30vw; */
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.profile-picture {
  max-height: 16rem;
  object-fit: cover;
  border: solid 2px black;
  border-radius: 4px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-window {
    width: 80vw;
  }
  .link-container {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
  }
  .profile-picture {
      display: none;
  }
  .container {
      flex-direction: column;
  }
  .close-container {
      width: 0;
  }
}

.no-scroll {
  overflow: hidden;
}

.subtext {
  font-size: 12pt;
  margin-top: 0;
}

body {
    margin: 0;
}
